/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run Clinical-Genomics/oncoflow -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Metadata
    case_id          = 'test_case_id'
    sample_id_tumor  = 'test_sample_id_tumor'
    sample_id_normal = 'test_sample_id_normal'
    subject_id       = 'subject_a' // matches the subject_id in the samplesheet of the test data of the oncoanalyser pipeline
    sex              = 'female'

    // Oncoanalyser input parameters
    oncoanalyser_nextflow_opts = [
        '-revision 2.2.0-with-purple-tbi-fix',
        '-profile test_full,docker',
        '--max_fastq_records 0', // Matches the test_full.config for oncoanalyser
        ].join(' ')
    // oncoanalyser_samplesheet   = 'https://raw.githubusercontent.com/nf-core/test-datasets/oncoanalyser/samplesheet/fastq_eval.subject_a.wgts.tndna_trna.minimal.csv'
    oncoanalyser_mode          = 'wgts'
    oncoanalyser_genome        = 'GRCh38_hmf'

    // Oncorefiner input parameters
    oncorefiner_nextflow_opts = [
        '-revision dev',
        '-profile docker',
        ].join(' ')

}
