/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run Clinical-Genomics/oncoflow -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile (stub runs for all pipelines)'
    config_profile_description = 'Minimal test where all pipelines are run in stub mode to check that pipelines are run sequentially'

    // Metadata
    case_id          = 'test_case_id'
    sample_id_tumor  = 'test_sample_id_tumor'
    sample_id_normal = 'test_sample_id_normal'
    subject_id       = 'subject_a' // matches the subject_id in the samplesheet of the test data of the oncoanalyser pipeline
    sex              = 'female'

    // Oncoanalyser input parameters
    oncoanalyser_create_stub_placeholders = true         // matches the test_stub profile
    oncoanalyser_genome                   = "GRCh38_hmf" // matches the test_stub profile
    oncoanalyser_mode                     = "wgts"       // matches the test_stub profile
    oncoanalyser_nextflow_opts            = '-profile test_stub,docker -stub -revision 2.2.0-with-purple-and-linx-stub-fix'

    // Oncorefiner input parameters
    oncorefiner_nextflow_opts = '-profile test,docker -revision dev -stub'
}
