// General pipeline parameters that should be the same for all cases
params {
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/Clinical-Genomics/test-datasets/61dce843b868caaee4135d33509af38aaa80724b/'

    genome              = 'GRCh38'
    fasta               = params.pipelines_testdata_base_path + 'reference/GRCh38/GRCh38_masked_exclusions_alts_hlas_subset.fasta'
    fai                 = params.pipelines_testdata_base_path + 'reference/GRCh38/GRCh38_masked_exclusions_alts_hlas_subset.fasta.fai'

    vep_cache           = params.pipelines_testdata_base_path + 'reference/GRCh38/vep_cache.tar.gz'
    vep_cache_version   = 115
    vep_plugin_files    = params.pipelines_testdata_base_path + 'reference/GRCh38/vep_files.csv'

    vcfanno_toml        = params.pipelines_testdata_base_path + 'reference/GRCh38/grch38_vcfanno_config.toml'
    vcfanno_resources   = params.pipelines_testdata_base_path + 'reference/GRCh38/grch38_vcfanno_resources.txt'
    vcfanno_lua         = params.pipelines_testdata_base_path + 'reference/GRCh38/vcfanno_functions.lua'

    svdb_query_dbs      = params.pipelines_testdata_base_path + 'reference/GRCh38/svdb_querydb_files.csv'

    // Genmod
    genmod_score_config_snv = params.pipelines_testdata_base_path + 'reference/genmod_score_config_snv.ini'
    genmod_score_config_sv  = params.pipelines_testdata_base_path + 'reference/genmod_score_config_sv.ini'

    // TODO make/insert mock input for CADD

    // Test config options
    extra_args_cadd_annotate       = '--columns Chrom,Pos,Ref,Alt,-,CADD'
    extra_args_snv_clinical_filter = " --include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == \".\")' "
    extra_args_snv_research_filter = " --include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == \".\")' "
    extra_args_sv_vep              = '--pick --pick_order mane_select,mane_plus_clinical,canonical,appris,tsl,biotype,ccds,rank,length,ensembl,refseq'
}


process {

    withName: '.*:GENERATE_CYTOSURE_FILES:VCF2CYTOSURE' {
        errorStrategy = 'ignore'
    }

    withName:'.*PROCESS_SNVS:BCFTOOLS_VIEW_RESEARCH' {
       ext.args = { [
       "${params.extra_args_snv_research_filter}",
       "--output-type z",
       "--write-index=tbi",
       ].join(' ') }
    }

    withName: '.*PROCESS_SNVS:ENSEMBLVEP_VEP' {
        maxForks = 8
        memory = { 10.GB * task.attempt }
        cpus = { 2 * task.attempt }
        time = { 4.h * task.attempt }
    }


    withName: '.*PROCESS_SVS:ENSEMBLVEP_VEP' {
        maxForks = 8
        memory = { 10.GB * task.attempt }
        cpus = { 2 * task.attempt }
        time = { 4.h * task.attempt }
    }

    withName: '.*ANNOTATE_CADD:CADD' {
        memory = { 30.GB * task.attempt }
        cpus = { 1 * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: '.*ANNOTATE_CADD:RENAME_CHR_CADD' {
        memory = { 1.GB * task.attempt }
        cpus = { 1 * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: '.*ANNOTATE_CADD:ANNOTATE_INDELS' {
        memory = { 1.GB * task.attempt }
        cpus = { 1 * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: '.*ANNOTATE_CADD:BCFTOOLS_VIEW' {
        memory = { 1.GB * task.attempt }
        cpus = { 1 * task.attempt }
        time = { 1.h * task.attempt }
    }

}
