//
// Oncoanalyser configuration
//

// TODO

//
// Oncorefiner configuration
//

// TODO
params {
    // Parameters and options for tools
    extra_args_cadd_annotate = '--columns Chrom,Pos,Ref,Alt,-,CADD'
    extra_args_snv_clinical_filter = "--include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == \".\")'"
    extra_args_snv_research_filter = "--include '(INFO/GNOMADAF_grpmax <= 0.001 || INFO/GNOMADAF_grpmax == \".\")'"
    extra_args_snv_vep = ''
    extra_args_sv_vep = ''

    // Pipeline resource files
    // VEP
    vep_cache_version = 115
    vep_plugin_files = params.oncoflow_resources_dir + 'vep_plugin.csv'
    vep_cache = params.oncoflow_resources_dir + 'VEP'

    // Vcfanno
    vcfanno_toml = params.oncoflow_resources_dir + 'grch38_vcfanno_config.toml'
    vcfanno_resources = params.oncoflow_resources_dir + 'grch38_vcfanno_resources.txt'
    vcfanno_lua = null

    // SVDB
    svdb_query_dbs = params.oncoflow_resources_dir + 'grch38_svdb_query_dbs.csv'

    // Reference
    fasta = params.oncoflow_resources_dir + 'GRCh38_masked_exclusions_alts_hlas.fasta'
    fai = params.oncoflow_resources_dir + 'GRCh38_masked_exclusions_alts_hlas.fasta.fai'
}


process {

    withName: '.*:GENERATE_CYTOSURE_FILES:VCF2CYTOSURE' {
        errorStrategy = 'ignore'
    }

    withName:'.*PROCESS_SNVS:BCFTOOLS_VIEW_RESEARCH' {
       ext.args = { [
       "${params.extra_args_snv_research_filter}",
       "--output-type z",
       "--write-index=tbi",
       ].join(' ') }
    }

    withName: '.*PROCESS_SNVS:ENSEMBLVEP_VEP' {
        maxForks = 8
        memory = { 10.GB * task.attempt }
        cpus = { 2 * task.attempt }
        time = { 4.h * task.attempt }
    }


    withName: '.*PROCESS_SVS:ENSEMBLVEP_VEP' {
        maxForks = 8
        memory = { 10.GB * task.attempt }
        cpus = { 2 * task.attempt }
        time = { 4.h * task.attempt }
    }

    withName: '.*ANNOTATE_CADD:CADD' {
        memory = { 30.GB * task.attempt }
        cpus = { 1 * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: '.*ANNOTATE_CADD:RENAME_CHR_CADD' {
        memory = { 1.GB * task.attempt }
        cpus = { 1 * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: '.*ANNOTATE_CADD:ANNOTATE_INDELS' {
        memory = { 1.GB * task.attempt }
        cpus = { 1 * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: '.*ANNOTATE_CADD:BCFTOOLS_VIEW' {
        memory = { 1.GB * task.attempt }
        cpus = { 1 * task.attempt }
        time = { 1.h * task.attempt }
    }

}
